@import './gradients.css';
@import './animations.css';

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-light);
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}
